.icons {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
    gap: 1.25rem;
  }
  .icon {
    background-color: var(--bs-light);
    border-radius: .25rem;
  }
  .bi {
    margin: .25rem;
    font-size: 2.5rem;
  }
  .label {
    font-family: var(--bs-font-monospace);
  }
  .label {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    padding: .25rem;
    font-size: .625rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @-webkit-keyframes spinner-border {
    to {
        transform: rotate(360deg) /* rtl:ignore */;
    }
    }

    @keyframes spinner-border {
    to {
        transform: rotate(360deg) /* rtl:ignore */;
    }
    }
    .spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
  }

    .spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
    }
